<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title></title>
 </head>
 <body>
   <form method="POST" action="/quiz_list">
     <center><p>Enter the name of your quiz:</p><input type="text" name="quiz_name">
     <p>Enter a description of your quiz:</p><input type="text" name="quiz_description">
     <p>Enter the answers to your quiz:</p><input type="text" name="quiz_answers">
       <input id = "smallbutton" type="submit" value="Create Quiz"></center>
   </form>
 </body>
</html>