<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title>L U S O R</title>
 </head>
 <body>
   <p id="name">L U S O R</p>
   <p id="secondary">Welcome to the #1 quiz platform NA</p>
   <form method="POST" action="/quiz_list">
     <center><input id = "quizlist" type="submit" value="Take a Quiz"></center>
   </form>
   <form method="POST" action="/create_quiz">
     <center><input id = "createquiz" type="submit" value="Create a Quiz"></center>
   </form>
 </body>
</html>