<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title></title>
 </head>
 <body>
   <form method="POST" action="/quiz">
     <p>Enter the name of the quiz you want to take:</p><input type="text" name="quiz_taken">
     <input type="submit" value="Take Quiz">
   </form>
 </body>
</html>