<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title></title>
 </head>
 <body>
   <form method="POST" action="/quiz">
     <p>Enter the name of the quiz you want to take:</p><input type="text" name="quiz_taken">
     <input id="smallbutton" type="submit" value="Take Quiz">
   </form>
   <br>
    <table style="width:50%">
      <tr>
        <button type='button' value='<%%>'><td>Jill</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>		
        <td>94</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>		
        <td>80</td>
      </tr>
    </table>

   </body>
</html>