<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="style.css">
  <title>quiz list</title>
 </head>
 <body>
   <br>
   <table style="width:50%">
     <form>
       <%for i in $quizes%>
         <tr>
           <td>  
             <input type="radio" name='adam' id='rad<%=i%>'>
             <label for='rad<%=i%>'><%=i%></label>
           </td>
         </tr>
       <%end%>
     </form>
   </table>
   <br>
   <input id="smallbutton" type="submit" value="Take Quiz">
 </body>
</html>